@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fixed-width {
  max-width: 1112px;
  margin-left: auto;
  margin-right: auto;
}
