@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Nanum+Pen+Script&family=Amita&family=Architects+Daughter&family=Berkshire+Swash&family=Caveat&family=Comic+Neue&family=Covered+By+Your+Grace&family=Gloria+Hallelujah&family=Gochi+Hand&family=Handlee&family=Indie+Flower&family=Inter:wght@900&family=Itim&family=Kalam&family=Mali&family=Merienda&family=Nanum+Pen+Script&family=Neucha&family=Nothing+You+Could+Do&family=Pangolin&family=Patrick+Hand&family=Permanent+Marker&family=Rammetto+One&family=Reenie+Beanie&family=Rock+Salt&family=Shadows+Into+Light&family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .fixed-width {
    max-width: 1112px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
